
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CheckOut_Success</title>
</head>
<body>
    <div style="text-align:center; vertical-align:middle">
        <h1>Booking Car Successful</h1>
        <h2>
            Thank you for using our car reservation service
        </h2>
        <h3>
            We will contact you by phone as soon as the car is available
        </h3>
        <a href="@Url.Action("Index","Car")">Back to car list</a>
    </div>
</body>
</html>
