@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RentSuccessful</title>
</head>
<body >
    <h1 style="text-align:center;vertical-align:middle">Rent Car Successful</h1>
    <h3>
        Contract Terms
    </h3>
    <div>
        <ul>
            <li>
                Your order has been sent to the Shop. You will receive goods at pick-up date
            </li>
            <li>
                The car will be delivered on the date, time and place specified
            </li>
            <li>
                When you pick up the car, please bring your ID card and the deposit
            </li>
            <li>
                The contract will be signed on the day of receipt of the car
            </li>
            <li>
                The car is already filled with gas when it reaches you
            </li>
            <li>
                The car has been thoroughly checked before delivery
            </li>
            <li>
                If you return the car late, you will be fined 150%/day
            </li>
        </ul>
    </div>
    <h3>
        Wish you have a good experience when using our company's services!!
    </h3>
    <a href="@Url.Action("Index","Car")">Continue Rent...</a>
</body>
</html>
